.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  text-align: center;
  color: #fff;
  height: 94px;
  background-color: #0112e5;
  padding-right: 30px;
  padding-left: 30px;
  box-shadow: 0px 20px 27px #9e9e9e !important;
  justify-content: space-between;
}

.App-link {
  color: #61dafb;
}

.Modal-title {
  font-size: 24px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn {
  outline: 0;
  border: 0;
  box-shadow: none;
  display: inline-block;
  font-weight: 900;
  line-height: 1.5;
}

.btn-launch-app {
  width: auto;
  height: 40px;
  background-color: #4bf0d3;
  color: #0540f2;
  border-radius: 5px;
  font-family: CooperHewitt-bold;
  text-transform: uppercase;
  padding: 8px 15px;
  /* position: absolute; */
  /* right: 75px; */
}

.sidebar {
  height: 90vh;
}

@media (min-width: 992px) {
  .menu {
    display: none;
  }
}
